/*!
 * mega menu layout
 * optimiced for Contao Official Demo Theme
 */
.mod_navigation {
	&.dropdown {
		overflow: visible;
	}
	li.mm_container {
		> a,
		> span,
		> strong { 
			position: relative;
		}
		&:not(.mm_container_onClickOnly):hover,
		&:not(.mm_container_onClickOnly):hover,
		&.mm_container_onClickOnly.mm_isActive {
			> a:after, 
			> strong:after{
				/* hide (overlay)border bottom of main menu */
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: -3px;
				height: 3px;
				background-color: #F4F2F0;
				z-index: 110;
			} 
		}

		.mm_dropdown {
			display: none;
			position: absolute;
			left: 0;
			right: 0;
			z-index: 100;

			> .inner {
				// margin-top: 1.2rem;
				padding: 1rem 2rem;

				border: 1px solid #E5DFDC;
				// border-bottom: 3px solid #333;
				background-color: rgba(#F4F2F0, .95);

				overflow: hidden;
			}
		}

		&:not(.mm_container_onClickOnly):hover .mm_dropdown, 
		&.mm_container_onClickOnly .mm_isActive ~ .mm_dropdown {
			display: block;
		}
	}

}
